extends layout

block content
    h3 Users
    ul
        each user in users
            li #{user.username} 
                each group in user.group
                    span [#{group.name}]
        else
            li No users found...

    h3 Add User
    form(action="/users", method="post")
        div
            label(for='username') Username: 
            input#username(type="text", name="username")
        div
            label(for='password') Password: 
            input#password(type="password", name="password")
        div
            div Groups:
            each group in groups
                input(id=group.name, type="checkbox", name="groups[]" value=group.name)
                | #{group.name}
        button(type="submit") Save
